<p id="notice"><%= notice %></p>

<h1>Listing Project Attacments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_attacments.each do |project_attacment| %>
      <tr>
        <td><%= link_to 'Show', project_attacment %></td>
        <td><%= link_to 'Edit', edit_project_attacment_path(project_attacment) %></td>
        <td><%= link_to 'Destroy', project_attacment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project attacment', new_project_attacment_path %>
