<% @collection.products.paginate(:page => params[:page], :per_page => 9).each do |product| %>
								<!--product item-->
								<div class="product_item hit w_xs_full">
									<figure class="r_corners photoframe type_2 t_align_c tr_all_hover shadow relative">
										<!--product preview-->
										<a href="<%= collection_product_path(@collection, product) %>" class="d_block relative wrapper pp_wrap m_bottom_15">
											<img src="<%= product.image %>" class="tr_all_hover" alt="">
										</a>
										<!--description and price of product-->
										<figcaption>
											<h5 class="m_bottom_10">
												<%= link_to product.name, collection_product_path(@collection, product), class: 'color_dark' %>
											</h5>
											<!--rating-->
											<p class="scheme_color f_size_large m_bottom_15"><%= product.price.to_s[0..2] %> р.</p>
											<%= button_to 'Купить', line_items_path(product_id: product.id), class: 'button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_15'
                         					%>	
											
										</figcaption>
									</figure>
								</div>
							<% end %>	



